# Porta do servidor
PORT=4000

# Ambiente
NODE_ENV=production

# Google Calendar API
GOOGLE_CLIENT_ID=seu_client_id_aqui
GOOGLE_CLIENT_SECRET=seu_client_secret_aqui
GOOGLE_REDIRECT_URI=http://localhost:4000/oauth2callback

# Informações da Empresa
EMPRESA_NOME=Artestofados
EMPRESA_TELEFONE=(83) 3241-1234
EMPRESA_EMAIL=contato@artestofados.com.br
EMPRESA_CIDADE=João Pessoa/PB